.component {
  /* set width for auto-margin to be same for 0.5 and 0.6 home page */
  width: 420px;
}
.component ul {
  list-style: none;
  padding: 0;
}
.updates {
  padding: 5px;
  padding-left: 15px;
  border-radius: 5px;
}
.category {
  color: var(--link-color);
}
.listItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  white-space: nowrap;
}
.label {
  margin-left: 10px;
}
.header a {
  text-decoration: none;
  line-height: normal;
}
.youTube {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0 10px 0;
}
.youTubeLogo {
  width: 30px;
  padding-right: 10px;
}

.intro {
  background-color: var(--code-bg);
  padding: 10px;
  margin-top: 10px;
  border-radius: 15px;
  border-color: var(--shadow-color);
  border-style: solid;
  border-width: 3px;
    /* box-shadow: 2px 1px 1px 1px var(--shadow-color); */
}

.intro p {
  margin-top: 10px;
  margin-bottom: 10px; 
}